DEBUG = False

DATABASE_FILENAME = "spider-web.db"

API_AUTHENTICATION_METHOD = "BASIC_AUTHENTICATION" # Choices are BEARER_TOKEN or BASIC_AUTHENTICATION.
API_CREDENTIAL_FORMAT = "USERNAME_PASSWORD" # Choices are REFRESH_TOKEN or USERNAME_PASSWORD.
API_KEY_FILE_PATH = "spider-web.key"
API_CONNECTION_TIMEOUT = 10

LOG_ENABLE_LOGGING = True
LOG_FILENAME = "spider-web.log"
LOG_MAX_BYTES_PER_FILE = 1000000
LOG_MAX_NUMBER_LOG_FILES = 3
LOG_LEVEL = 20  #Level: CRITICAL=50, ERROR=40, WARNING=30, INFO=20, DEBUG=10, NOTSET=0
LOG_FORMAT = "%(asctime)s — %(levelname)s — %(message)s"

USE_PROXY = False
PROXY_URL = "https://PROXYURLHERE"
PROXY_PORT = 8080
PROXY_USERNAME = "PROXY USERNAME HERE"
PROXY_PASSWORD = "PROXY PASSWORD HERE"
VERIFY_HTTPS_CERTIFICATE = True

# Ensure any SSO or other authentication domains are listed here. These are used
# by ping-site to know when the application has redirected to an authentication
# domain
AUTHENTICATION_SITES = ["login.microsoftonline.com", "access.coyote.com", "access1.coyote.com"]

# Ensure any keywords that indicate the URL is a login page are listed here. These are used
# by ping-site to know when the application has redirected to an authentication
# page
AUTHENTICATION_PAGE_KEYWORDS = ["login", "logon", "account", "returnurl", "backurl", "auth", "saml", "signin"]

AGENT_HEARTBEAT_TOO_LONG_SECONDS = 600      # How long as agent can fail to check-in before being reported
AGENT_HEARTBEAT_BREADCRUMB_FILENAME = "agent-heartbeat-report.breadcrumb"
AGENT_HEARTBEAT_NOTIFICATION_INTERVAL_MINUTES = 1440  # How often to report agents that have not checked in

DISABLED_AGENTS_TOO_LONG_SECONDS = 600      # How long as agent can be disabled before being reported
DISABLED_AGENTS_BREADCRUMB_FILENAME = "disabled-agents.breadcrumb"
DISABLED_AGENTS_NOTIFICATION_INTERVAL_MINUTES = 1440  # How often to report disabled agents
